html{
    height: 100%;
}
body{
    background-image: linear-gradient(to right, rgba(34,38,41,0.8),rgba(34,38,41,0.8)),url(../images/background3.jpg);
    font-family: 'Noto Sans KR', sans-serif;
}

.registerform{
	max-width: 350px;
	margin: auto;
	border-radius: 5px;
	padding-top:10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
	background: rgba(255,255,255,0.8);
	box-shadow: 0 15px 15px rgba(0,0,0,0.5);
}
label{
    font-size: 20px;
}
input[type=text], select{
	width:100%;
	padding: 12px 20px;
	margin:8px 0;
	display:inline-block;
	border:1px solid black;
	border-radius: 4px;
	box-sizing: border-box;
    background-color: #474b4f;
    color:rgba(255,255,255,0.8);
}
input[type=tel], select{
	width:100%;
	padding: 12px 20px;
	margin:8px 0;
	display:inline-block;
	border:1px solid black;
	border-radius: 4px;
	box-sizing: border-box;
    background-color: #474b4f;
    color: rgba(255,255,255,0.8);
}
input[type=email], select{
	width:100%;
	padding: 12px 20px;
	margin:8px 0;
	display:inline-block;
	border:1px solid black;
	border-radius: 4px;
	box-sizing: border-box;
    background-color: #474b4f;
    color:rgba(255,255,255,0.8);
}
input[type=password], select{
    width:100%;
    padding: 12px 20px;
    margin:8px 0;
    display:inline-block;
    border:1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    background-color:#474b4f;
    color:rgba(255,255,255,0.8);
}
input[type=submit]{
	width:50%;
	background:#11a7bb;
	color:white;
	margin:8px 0;
	border:none;
	padding:14px 0;
	border-radius:10px;
	cursor:pointer;
    font-size: 15px;
    margin-left: 25%;
    font-weight: bolder;
}
input[type=submit]:hover{
	background: black;
}
::placeholder{
    color:rgba(255,255,255,0.7);
}
h1{
    text-align: center;
    padding-top:5%;
}
#navbar {
    position:fixed;
    width:100%;
    margin-top:0;
    margin-left:0;
    padding-top:20px;
    padding-bottom:20px;
    text-decoration: none;
    left:0;
    top:0;
  }
  #navbar a{
    padding-left:30px;
    padding-right: 30px;
    text-decoration: none;
    font-size:18px;
    text-align:center;
    color:white;
    margin-left: 20px;
    font-weight: bolder;
  }
  #navbar a:hover{
    padding-top:8px;
    padding-bottom:8px;
    background-color:#6abe06;
    color:white;
    border-radius:10px;
  }
  h1{
      color:white;
      margin-top: 2px;
  }